*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  padding: 5vh 10px;
  overflow: hidden;
  background-color: #0f172a;
  height: 100vh;
}

.music-player {
  position: relative;
  width: 400px;
  max-width: 100%;
  height: 90vh;
  margin: auto;
  border-radius: 20px;
  background: conic-gradient(
    from 0deg,
    #3b82f6 0deg,
    #60a5fa 90deg,
    #9333ea 180deg,
    #7e22ce 270deg,
    #3b82f6 360deg
  );
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  z-index: 2;
  /* overflow: hidden; */
}
.music-player::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from var(--angle),
    #3b82f6 0deg,
    #60a5fa 90deg,
    #9333ea 180deg,
    #7e22ce 270deg,
    #3b82f6 360deg
  );
  filter: blur(1.5rem);
  border-radius: 20px;
  z-index: -3;
}
.image-box {
  position: relative;
  width: 100%;
  height: 350px;
  padding: 10px;
  z-index: 2;
}
.image-box .img-cover {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 15px;
}

.image-box::before {
  --angle: 0deg;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  inset: 0px;

  background: repeating-conic-gradient(
    from var(--angle),
    #fff 0%,
    #fff 15%,
    transparent 15%,
    transparent 40%,
    #fff 50%
  );
  border-radius: 15px;
}

body.active .image-box::before,
body.active .music-player::before {
  animation: spin 4s linear infinite;
}

.music-info-wrapper {
  text-align: center;
  margin-top: 30px;
  color: #fff;
  font-weight: bold;
  -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.3);
}

/* CONTROL */
.controls {
  width: 100%;
  margin-top: auto;
}

/* CONTROL  BUTTONS*/
.control-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* PLAYLIST BUTTONS */
.playlist-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/* SHUFFLE BUTTONS */
.shuffle-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5px;
}
.shuffle-text {
  width: max-content;
  position: absolute;
  top: -65%;
  left: 0;
  background: #0f172a;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  font-size: 8px;
  font-weight: 600;
  opacity: 0;
  transform: translate(-25%, -50%);
  transition: all 0.2s;
}
.shuffle-buttons:hover .shuffle-text {
  opacity: 1;
  transform: translate(-25%, 0%);
}

svg,
path {
  width: 18px;
  height: 18px;
  fill: #fff;
  cursor: pointer;
}
.shuffle-buttons svg:nth-child(1) {
  display: none;
}
.shuffle-buttons.active svg:nth-child(2) {
  display: none;
}
.shuffle-buttons.active svg:nth-child(1) {
  display: block;
}

/* REPEAT BUTTONS */
.repeat {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5px;
  cursor: pointer;
}
.repeat svg,
.repeat path {
  width: 18px;
  height: 18px;
}
.repeat-text {
  width: max-content;
  position: absolute;
  top: -65%;
  left: 0;
  background: #0f172a;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  font-size: 8px;
  font-weight: 600;
  opacity: 0;
  transform: translate(-25%, -50%);
  transition: all 0.2s;
}
.repeat:hover .repeat-text {
  opacity: 1;
  transform: translate(-15%, 0%);
}

.repeat svg:nth-child(2) {
  display: none;
}
.repeat.active svg:nth-child(1) {
  display: none;
}
.repeat.active svg:nth-child(2) {
  display: block;
}

/* CHANGE  BUTTONS*/
.change-buttons {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.rot {
  transform: rotate(180deg);
}

#play-pause-btn svg:nth-child(2) {
  display: none;
}
#play-pause-btn.active svg:nth-child(1) {
  display: none;
}
#play-pause-btn.active svg:nth-child(2) {
  display: inline-block;
}
/* CONTROL SLIDERS */

/* TIME (CURRENT & TOTAL) */
.control-sliders .time-wrapper {
  width: 100%;
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* CONTROL SLIDERS */
.control-sliders .seek-slider,
.control-sliders .volume-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.2s;
  display: block;
  border-radius: 10px;
}

.control-sliders .seek-slider {
  cursor: pointer;
  width: 100%;
}

/* VOLUME BUTTONS */
.control-buttons .volume {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5px;
}
.volume svg,
.volume svg {
  width: 18px;
  height: 18px;
}
.volume-slider-wrapper .volume-slider {
  cursor: pointer;
  width: 60px;
  margin: 0 1rem;
}
.control-buttons .volume .volume-slider-wrapper {
  background-color: #0f172a;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  left: -150%;
  opacity: 0;
  transform: translate(-20%, -100%);
  pointer-events: none;
  transition: all 0.3s ease;
}

.control-buttons .volume:hover .volume-slider-wrapper {
  transform: translate(-20%, -90%);
  pointer-events: all;
  opacity: 1;
}

/* Modify the appearance of the slider thumb */
.seek-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s;
}

/* effect in hover to sliders */
.seek-slider:hover,
.volume-slider:hover {
  background: rgba(255, 255, 255, 0.6);
}

/* music lists */
.playlist {
  top: 0;
  left: 0;
  backdrop-filter: blur(100rem);
  -webkit-backdrop-filter: blur(100rem);
  position: absolute;
  padding: 10px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  z-index: 5;
  display: none;
}
.playlist.active {
  display: block;
}
.playlist-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.playlist-items::-webkit-scrollbar {
  display: none;
}

.playlist-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.playlist-menu .control-btn:active{
  background-color: rgba(15, 23, 42, 0.2);
}
.menu-sort-btn{
  color: #fff;
  margin-right: auto;
}
.menu-sort-btn svg{
  margin-right: 3px;
}
.music-item {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10px;
  color: #fff;
}

.music-item:hover {
  background-color: rgba(15, 23, 42, 0.1);
}

.music-poster {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}
.music-info {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
}
.music-singer-name {
  margin-top: 1px;
  font-size: 12px;
  opacity: 0.6;
}

.music-item.active {
  background-color: rgba(15, 23, 42, 0.2);
  border-bottom: 1px solid #60a5fa;
  color: #60a5fa;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
